{{!< default}}
<div class="contact_jumbotron">
	</div>

<div class = "contact_text">
	<h3>We want to provide our customers with the best products and services everyday!</h3>
	<h4>Leave us a message! We'd love to hear from you!</h4>
</div>

<div class="contact-and-faq">
  <div class="col-md-6">
	  <h2>Contact Us!</h2>
	  {{#if enquirySubmitted}}
			<h3>Thanks for getting in touch.</h3>
			{{else}}
			<form method="post">
				<input type="hidden" name="action" value="contact">
				<div class="form-group {{#if validationErrors.name}}has-error{{/if}}">
					<label>Name</label>
					<input type="text" name="name.full"  class="form-control" value="{{formData.[name.full]}}">
				</div>
				<div class="form-group {{#if validationErrors.email}}has-error{{/if}}">
					<label>Email</label>
					<input type="email" name="email" class="form-control" value="{{formData.email}}">
				</div>
				<div class="form-group">
					<label>Phone</label>
					<input type="text" name="phone" placeholder="(optional)" class="form-control" value="{{formData.phone}}">
				</div>
				<div class="form-group {{#if validationErrors.enquiryType}}has-error{{/if}}">
					<label>What are you contacting us about?</label>
					<select name="enquiryType" class="form-control">
						<option value="">(select one)</option>
						{{#each enquiryTypes}}
						<option value="{{value}}">{{label}}</option>
						{{/each}}
					</select>
				</div>
				<div class="form-group {{#if validationErrors.message}}has-error{{/if}} ">
					<label>Message</label>
					<textarea name="message" placeholder="Leave us a message..." rows="4" class="form-control">{{formData.message}}</textarea>
				</div>
				<div class="form-actions">
					<button type="submit" class="btn btn-primary">Send</button></br></br></br>
				</div>
			</form>
			{{/if}}
  </div>
  <div class="col-md-6">
    <h2>FAQ'S</h2>
	<h3>Can I check my balance online?</h3>
	<h4>Yes! Click the link <a href="https://services.jsatech.com/login.php?cid=27&">here</a>.</h4>
	<h3>What are your hours of operation?</h3>
	<h4>Monday - Friday 7:30 a.m. - 10:30 p.m. </br>
		Saturday 12:00 p.m. - 11:00 p.m. </br>
		Sunday 12:00 p.m. - 10:00 p.m.</h4>
	<h3>How often do you restock on items?</h3>
	<h4>We restock our popular items on a weekly basis, please check online for more specific restocking dates.</h4>
  </div>
</div>








