{{!< default}}
 <div class="jumbotron img-responsive">
	<div class="container-header">
		<div class="row">
			<div class="col-md-12">
				<div class="row">
				<div class="col-md-8 col-lg-8 text-center" id="grove-name">
					<h1>The Grove </h1>
					<h3>Hours of Operation:</h3>
					<h4>Monday - Friday 7:30 a.m. - 10:30 p.m.</h4>
					<h4>Saturday 12:00 p.m. - 11:00 p.m.</h4>
					<h4>Sunday 12:00 p.m. - 10:00 p.m. </h4>
				</div>
				<div class="col-md-4 pull-right">
					<img class="text-right" src="/images/uop_seal.png" alt="UOP">
				</div>
				</div>
			</div>
			<div class="container">
				<div class="col-md-12">
					<div id="myCarousel" class="carousel slide center-block" data-ride="carousel">
					<!-- Indicators -->
					<ol class="carousel-indicators">
						<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
						<li data-target="#myCarousel" data-slide-to="1"></li>
						<li data-target="#myCarousel" data-slide-to="2"></li>
					</ol>

					<!-- Wrapper for slides -->
					<div class="carousel-inner ">
						<div class="item active">
						<img class="img-responsive" src="http://www.pacific.edu/Images/facilities/grove%20big%203.jpg" alt="Chania">
						{{!-- <div class="carousel-caption">
							<h3>Los Angeles</h3>
							<p>LA is always so much fun!</p>
						</div> --}}
						</div>

						<div class="item">
						<img class= "img-responsive" src="http://www.pacific.edu/Images/facilities/grove%20big%201.jpg" alt="Chicago">
						{{!-- <div class="carousel-caption">
							<h3>Chicago</h3>
							<p>Thank you, Chicago!</p>
						</div> --}}
						</div>

						<div class="item">
						<img class="img-responsive" src="http://www.pacific.edu/Images/facilities/grove%20big%202.jpg" alt="New York">
						{{!-- <div class="carousel-caption">
							<h3>New York</h3>
							<p>We love the Big Apple!</p>
						</div> --}}
						</div>
					</div>

					<!-- Left and right controls -->
					<a class="left carousel-control" href="#myCarousel" data-slide="prev">
						<span class="glyphicon glyphicon-chevron-left"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="right carousel-control" href="#myCarousel" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right"></span>
						<span class="sr-only">Next</span>
					</a>
					</div>
				</div> 
				</div>
		</div>
	</div>

	</div>




	<div class="mission">
		</br>
		<h3> Our mission:</h3>
		<h4> provide a wonderful shopping experience for University of the Pacific's students and faculty</h4>
	</div>

	<div class="container-options">
		<div class="row img-responsive" id="options">

			<div class="col-md-4 col-lg-4" id="product">
				<h3>View Products</h3>

				<a href="http://0.0.0.0:3000/products">
					<img src="https://image.flaticon.com/icons/svg/452/452731.svg" alt="Products">
				</a>
			</div>
			<div class="col-md-4 col-lg-4" id="promotion">
				<h3>View Promotions</h3>

				<a href="http://0.0.0.0:3000/products">
					<img src="https://image.flaticon.com/icons/svg/214/214338.svg" alt="Promotions">
				</a>

			</div>
			<div class="col-md-4 col-lg-4" id="balance">
				<h3>View Balance</h3>
				<a target="_blank" href="https://services.jsatech.com/login.php?cid=27&">
					<img src="https://image.flaticon.com/icons/svg/762/762095.svg" alt="Balance">
				</a>

			</div>


		</div>
	</div>



	{{!--
	<div class="container-fluid img-responsive" id="highlight">
		<div class="row">
			<div class="col-md-4 col-lg-4 text-center">
				<div class="row img-responsive" id="groveimgs">
					<img src="http://www.pacific.edu/Images/facilities/grove%20big%201.jpg" alt="the-grove">
				</div>
				<div class="row img-responsive">
					<img src="http://www.pacific.edu/Images/facilities/grove%20big%202.jpg" alt="the-grove2">
				</div>

			</div> --}}
			<div class="second_jumbotron_index">
			</div>

			<div class="col-md-12 col-lg-12" id="featured">
				</br>
				<h2>Featured Products</h2>
				<div class="col-md-12 col-lg-12" id="featured_products">
					<a href="/products/hot-cheetos">
						<img src="https://www.fritolay.com/images/default-source/blue-bag-image/cheetos-crunchy-flamin-hot.png?sfvrsn=5651573a_2"
						 alt="cheetos">
					</a>

					<a href="/products/water">
						<img src="https://www.dollargeneral.com/media/catalog/product/cache/image/700x700/e9c3970ab036de70892d86c6d221abfe/0/0/00012000001598_0.jpg"
						 alt="water">
					</a>

					<a href="/products/skittles">
						<img src="https://www.dollargeneral.com/media/catalog/product/cache/image/700x700/e9c3970ab036de70892d86c6d221abfe/0/0/00773801_1.jpg"
						 alt="skittles">
					</a>

					<a href="/products/starbucks-frappuccino">
						<img src="https://images-na.ssl-images-amazon.com/images/I/61uLHkQvKwL._SY355_.jpg" alt="frappuccino">
					</a>

					<a href="/products/haagen-dazs">
						<img src="https://target.scene7.com/is/image/Target/31173183?wid=488&hei=488&fmt=pjpeg" alt="skittles">
					</a>

				</div>


			</div>

			<div class="col-md-6 col-lg-6">

			</div>
		</div>
	</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-12 col-lg-12">
				<div class="row">
					{{# each products}}
					<div class="col-md-4 col-lg-4">
						<h2>
							<a href="{{productUrl slug}}">{{{title}}}</a>

						</h2>

						{{#if image}}
						<img src="{{{cloudinaryUrl image }}}" class="thumbnail product-images"> {{/if}}

						<p>Quantity: {{qty}}</p>
						{{#if qty}}
						<p>In-Stock</p>
						{{else}}
						<p>Out of Stock</p>
						{{/if}}
					</div>
					{{/each}}
				</div>


			</div>

		</div>
	</div>


	<footer class="container-fluid" id="footer">

		<div class="col-md-2">
			<img src="https://image.flaticon.com/icons/svg/306/306810.svg" alt="Questions">

		</div>

		<div class="col-md-8 text-center">
			<h2>Questions? Comments? Let us know!</h2>
			<h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dui orci, gravida sit amet enim vitae, rhoncus ultrices
				massa. Quisque convallis purus ut sem accumsan viverra. Praesent interdum massa et venenatis convallis.</h5>
		</div>

		<div class="col-md-2">
			<img src="https://image.flaticon.com/icons/svg/682/682055.svg" alt="Comments">
		</div>
		</div>